@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: black;
  height: 100vh;
  width: 100vw;
}

.landingRevealString {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  display: block;
  color: #cf1b1b;
  font-size: 160px;
  letter-spacing: 8px;
}

.landingRevealString::before {
  content: "DFFL";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

.landingRevealString::after {
  content: "DFFL";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

.landingRevealString:hover:before {
  top: 10px;
  left: 10px;
}

.landingRevealString:hover:after {
  top: -10px;
  left: -10px;
} 

.enterText{
  display: block;
  color: #cf1b1b;
  position:absolute;
  top: 70%;
  left: 50%;
  font-size: 50px;
  letter-spacing: 5px;
  cursor: pointer;
  transform: translate(-50%, -50%);
}


#deltaText{
  color:#cf1b1b;
  position: absolute;
  display:block;
  font-size: 30px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.buttonStandard{
  padding: 20px 40px;
  background: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  border: 2px solid #cf1b1b;
  border-radius: 6px;
  color: #cf1b1b;
}

.buttonStandard:hover{
  background-color: white;
}

#logOrCreateBox, #loginBox, #createAcctBox{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #cf1b1b;
  text-align: center;
}

.loginField, .signupField{
  /* background-color: lightskyblue; */
  border-radius: 4px;
  color: black;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  font-size: 15px;
  border: 2px solid #cf1b1b;
}

.loginField:focus, .signupField:focus{
  outline: none;
}

.aFormSubmit{
  padding: 20px 40px;
  background: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  border: 2px solid #cf1b1b;
  border-radius: 6px;
  color: #cf1b1b;
}

.aFormSubmit:hover{
  background-color: white;
}


